body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.image-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.image-container.show {
    opacity: 1;
    transform: translateY(0);
}